body{
    padding-top: 220px;
}
#conditions{
    padding: 0 20px;
    width: 70%;
    margin: auto;
}
h1{
    color: white;
    margin: 0;
    background-color: #256091;
    padding: 20px;
}
.c-card{
    background-color: #f2f2f2;
    margin: 30px 10px;
}
.c-message{
    padding: 30px;
    text-align: justify;
}
h2{
    font-size: 20px;
    color: #256091;
}
@media screen and (max-width:900px){
    body{
        padding-top: 90px;
    }
    #conditions{
        width: 90%;
    }
}