#Contact{
  margin-top: 200px;
}
#contact_p{

    margin-top:250px;
  }
#contact_p h1{
    background-color: #256091;
    color: white;
    padding: 20px;
    margin:0px 15%;
  }
  .phone_address
  {
    background-color: white;
    margin: 0px 15%;
  }
  h2{
    color:#256091;
    text-align:center;
    margin-top : 0px;
    padding:  20px;
    padding-bottom: 10px;
  }
  h2 + p {
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    text-align: center;

  }
  .map{
    margin: 5px 15%;
    margin-top: 30px;
  }
  #map-position {
      width:100%;
  }
  #cn_no{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
    background-color: #256091;
    -webkit-box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.75);
box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.75);
  }
  #add_pl{
    font-weight: 600;
    font-size:20px;
    color:white;
    text-align: center;
    background-color: #256091;
    -webkit-box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.75);
box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.75);
  }
@media screen and (max-width: 700px)
{
  .map{
    margin: 5px 8%;
  }

  #contact_p h1{
      background-color: #256091;
      color: white;
      padding: 20px;
      margin:0px 8%;
    }
    .phone_address
    {
      background-color: #f2f2f2;
      margin: 0px 8%;
    }
    #Contact{
      margin-top: 80px;
    }
    #contact_p{

        margin-top:100px;
      }

}


@media screen and (max-width: 500px)
{
  h2{
    color: #256091;
    font-size: 20px;
    margin-top : 0px;
    padding:  20px;
    padding-bottom: 10px;
  }
  h2 + p {
    font-size: 17px;
    padding: 5px;
    padding-left: 20px;

  }
  #contact_p h1{
      background-color: #256091;
      color: white;
      padding: 20px;
      margin:0px 4%;
    }
    .phone_address
    {
      background-color: #f2f2f2;
      margin: 0px 4%;
    }
    .map{
      margin: 5px 4%;
    }

}
